#[link(name = "snappy",
       vers = "0.1",
       uuid = "17d57f36-462f-49c8-a3e1-109a7a4296c8",
       url = "http://github.com/thestinger/rust-snappy")];

#[comment = "snappy bindings"];
#[license = "MIT"];
#[crate_type = "lib"];
